
uploads/1t.txt
uploads/8.png
uploads/8_2.png
uploads/Domestic_wells.PNG
uploads/girldream2.jpg_9752fd3b3ff34b8f87502316b9e9f2c8
uploads/girldrepre2_b6fe55f804304e1089d95e7e72627e93.jpg
uploads/girlmd2.jpg_11877f366cef4e43a4ecb554f4ea27e1
uploads/matlabjupyter.PNG
uploads/usability_icon.jpg_096c39f4f48d4455b320f06582d4c23c
instaclone/venv/
venv/
*.pyc
instaclone/__pycache__/__init__.cpython-310.pyc
instaclone/__pycache__/db.cpython-310.pyc
instaclone/__pycache__/views.cpython-310.pyc
*.pyc
