{% extends 'layout.html' %}

{% block content %}
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <!-- for each photo in photos -->
        {% for photo in photos %}
        <div class="card">
            <div class="card-image">
                <figure class="image">
                    <img src="{{ photo['url'] }}" alt="{{ photo.caption }}">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="{{ photo.profile_picture }}" alt="Profile picture">
                        </figure>
                    </div>
                    <div class="media-content">
                        <p class="subtitle is-6">{{ photo.caption }}</p>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    {% endblock %}