{% extends 'layout.html' %}

{% block content %}
<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <!-- for each photo in photos -->
        {% for photo in photos %}
        <div class="card">
            <div class="card-image">
                <figure class="image">
                    <img src="{{ photo[1]['url'] }}" alt="{{ photo[1].caption }}">
                </figure>
            </div>
            <div class="card-content">
                <div class="media">
                    <div class="media-left">

                    </div>
                    <div class="media-content">
                        <!-- pfp -->
                        <img src="{{photo[3]}}" alt=""> 
                        <a href="profile/{{photo[2]}}">
                            <p class="title">{{photo[0]}}</p>
                        </a>
                        <p class="subtitle is-6">{{ photo.caption }}</p>
                    </div>
                </div>
            </div>

        </div>
        {% endfor %}
    </div>
    {% endblock %}