{% extends 'layout.html' %}


{% block content %}

<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="card">
            <div class="card"></div>
            <!-- for each photo in photos, draw a card -->
            <style>
                .profile-card {
                    margin-top: 20px;
                }

                .crud-button {
                    display: flex;
                    align-items: center;
                    padding: 4px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    width: fit-content;
                    text-align: center;
                }
            </style>
            {% for photo in photos %}
            <div class="card profile-card">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="{{ photo.url }}" alt="{{ photo.caption }}">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="title crud-button">

                        <div class="content">
                            . . .
                        </div>

                    </div>
                    <div class="media">


                        <div class="media-content">
                            <p class="title is-4">{{ user.name }}</p>
                            <p class="subtitle is-6">{{ photo.caption }}</p>
                        </div>
                        <br>

                    </div>



                </div>
                <hr>
                {% endfor %}

            </div>
        </div>
    </div>

    {% endblock %}