{% extends 'layout.html' %}


{% block content %}



<div class="columns">
    <div class="column is-three-fifths is-offset-one-fifth">
        <div class="card">
            <div class="card"></div>
            <!-- for each photo in photos, draw a card -->
            <style>
                .profile-card {
                    margin-top: 20px;
                }

                .imgPreview{
                    object-fit: contain;
                }

                .crud-menu {
                    display: flex;
                    align-items: center;
                    padding: 4px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    width: 35px;
                    text-align: center;
                    /* transition width */
                    transition: width 0.3s ease-in-out;
                    overflow: hidden;
                }

                /* .crud-menu hover */
                .crud-menu:hover {
                    width: 175px;
                }

                .tooltip{
                    /* hidden by default */
                    display: none;
                    position: relative;
                    border: 1px solid rgb(197, 197, 197);
                    box-shadow: 2px 2px 2px #000;
                    right: 100px;
                }

                .menu-item {
                    margin-right: 20px;
                    cursor: pointer;

                }
            </style>
            {% include 'image_reel_partial.html'%}
            </div>
        </div>
    </div>

    {% endblock %}